/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/


/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #7A664F;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #F7FFF7;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1, h2 {
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #2D6592;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}


/* Profile
------------------------------------*/
header {
  background: #FFBA51;
  color: #FFF596;
}


/* Projects
------------------------------------*/
.projects {
  background: #9CC477;
}
.projects a {
  color: #FFF596;
}
.projects .btn {
  color: #FFF596 ;
  background: #FFF596;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba(97, 48, 97, 80%);
}
.project-item {
  overflow: hidden;
}
.project-item h3 {
  margin-top: 0;
}


/* Work Experience
------------------------------------*/
.work-experience {
  background: #FFEB7B;
}
.work-experience a {
	color: #B6A483;
}
	
.work-experience .btn {
	color: #DDDCFF;
	background: #2D6592;
	padding: 8px;
	border-radius: 4px;
	display: inline-block;
}

.work-experience .btn:hover {
	background: rgba(47, 48, 97, 80%);
}

	



/* Education
------------------------------------*/
.education {
  background-image: url(https://images.unsplash.com/photo-1503551723145-6c040742065b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education p {
  width: 60%;
}


/* Gallery
------------------------------------*/
.column {
	float: left;
	width: 50%;
	padding: 5px;
}

.row: :after {
	content: "drawing";
	clear: both;
	display: table;
}

.row: :after {
	content: "shopping";
	clear: both;
	display: table;
}

.row: :after {
	content: "exploring";
	clear: both;
	display: table;
	

}

.text {
	color: #FFEB7B;
}

/* Contact Info
------------------------------------*/
footer {
  background: #2D6592;
  color: #D6DDEE;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  color: #F7FFF7;
  padding: 15px;
  display: inline-block;
}


